<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/site.min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/shThemeDefault.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	</head>
	<body style="background-color: rgb(241, 242, 246);">
		<%- body %>
	</body>
</html>